<nz-card style="width:100%;" nzTitle="About Me!">
  <div style="display:flex; margin-bottom:20px;">
    <img class="image-spacing" src="../../../assets/Screenshot 2023-09-14 205328.png">
    <div>
      <p>Welcome to my page! My name is Wesley Young and this page tells you all about me in a pseudo-resumatic fashion!
        I am {{exactAge}} years old and I am a Fullstack developer working at Vanguard!</p>
      <p>I decided to make this page to showcase my programmatic knowledge and to show my cloud infrasturucture skills
        by building a front-end web application from scratch using many different mehtods. This page is built using an
        angular application that is being hosted on an ECS application, somewhere in the world.</p>
    </div>
  </div>
  <div style="display:flex;">
    <div>
      <p>Currently I live in Claymont, Delaware with my Girlfriend, Keisha, and Dog, Zeus.</p>
      <p>I am originally from Nowhere-ville, USA, also known as Weldon, IL (1), population of 369. I went to school at
        Southern Ilinois University in Carbondale, IL (2) and graduated with a Bachelors of Science in Electrical and Computer Engineering in 2022</p>
      <p>Shown right is a map for reference of where I am from as you can see I am about equadistant from Chicago and St. Louis respectively, just to get that out of the way.</p>
    </div>
    <img class="image-spacing" height="400px" width="400px" src="../../../assets/ForReference.png">
  </div>

</nz-card>