<section>
  <div class="sidebar">
    <nz-anchor (nzClick)="handleClick($event)">
      <nz-link nzHref="#components-anchor-demo-basic" nzTitle="About Me"></nz-link>
      <nz-link nzHref="#components-anchor-demo-static" nzTitle="Skills"></nz-link>
      <nz-link nzHref="#components-anchor-demo-static" nzTitle="Experience"></nz-link>
      <nz-link nzHref="#components-anchor-demo-static" nzTitle="Interests"></nz-link>
      <nz-link nzHref="#components-anchor-demo-static" nzTitle="Experience"></nz-link>
      <nz-link nzHref="#components-anchor-demo-static" nzTitle="Achievements and Certifications"></nz-link>
    </nz-anchor>
  </div>
  <app-main-content></app-main-content>
</section>


