<section class="main">
  <div class="sidebar">
    <nz-anchor (nzClick)="handleClick($event)">
      <nz-link nzHref="#about" nzTitle="About Me"></nz-link>
      <nz-link nzHref="#skills" nzTitle="Skills"></nz-link>
      <nz-link nzHref="#experience" nzTitle="Experience"></nz-link>
      <nz-link nzHref="#interests" nzTitle="Interests"></nz-link>
      <nz-link nzHref="#achievements" nzTitle="Achievements and Certifications"></nz-link>
    </nz-anchor>
  </div>
  <app-main-content></app-main-content>
</section>


