<nz-card style="width:100%" nzTitle="My Experience">
  <h4>Skillstorm<br>Contract Software Developer<br>March 2022 - December 2023</h4>
    <ul>
        <li>Authored code fixes and enhancements for inclusion in future code releases and patches.</li>
        <li>Corrected, modified and upgraded software to improve performance.</li>
        <li>Analyzed work to generate logic for new systems, procedures and tests.</li>
        <li>Contributed ideas and suggestions in team meetings and delivered updates on deadlines, designs, and enhancements.</li> 
    </ul>
  <h4>Vanguard<br>Application Engineer II<br>December 2023 - Current</h4>
  <ul>
    <li>Deployed and maintained several ECS applications viewed by hundreds of thousands of viewers a day</li>
    <li>Worked to improve team norms and procedures from code quality to on-call support coverage</li>
    <li>Provided insight and support for other team members to deliver improvements to our applications</li>
  </ul>
</nz-card>